.navbar-brand img {
  height: 58px;
  width: 66px;
}

// navbar in mobile
.navbar-mobile {
  background-color: transparent;
  padding: var(--spacing-02);
}

@media (min-width: 768px) {
  .navbar-mobile,
  #nav-noti-path-link {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-mobile,
  #nav-noti-path-link {
    display: block;
  }

 .notification-dropdown {
    display: none;
  }
}

.icon-l {
  height: 25px;
  width: 25px;
}

.circle-green {
  background: var(--color-green);
  border-radius: 100%;
  height: 8px;
  position: relative;
  width: 8px;
  box-shadow: 0 0 10px var(--color-green);

  &::before,
  &::after {
    animation: pulse-me 3s linear infinite;
    background-color: var(--color-green);
    border-radius: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0.5);
    transform-origin: center center;
  }

  &::after {
    animation-delay: 1s;
  }
}

@keyframes pulse-me {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  70% {
    opacity: 0.09;
  }

  100% {
    opacity: 0;
    transform: scale(5);
  }
}

// search box
.box-search {
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 40px;
}

.checkboxitem {
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  height: 42px;
  padding: 0 16px;

  &:focus {
    border: 1px solid var(--color-primary);
  }
}

.search-form {
  margin: 96px 0;
}

.pointer {
  cursor: pointer;
}

// normal search
.text-result-search {
  font-size: var(--text-subtitle);
  font-weight: 600;
  display: flex;
  justify-items: center;
  margin-bottom: 16px;

  p {
    font-weight: 400;
    font-size: var(--text-subtitle);
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.search-value {
  display: flex;
  align-items: center;
  margin-top: var(--layout-05);

  p {
    margin-bottom: 0;
    margin-right: 16px;
    min-width: fit-content;
  }
}

.result-tag {
  border-radius: 16px;
  padding: 8px 15px;
}

.empty-result {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0;
}

// item
.bell-item,
.radar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 259px;

  i {
    color: var(--color-primary-200);
    font-size: 96px;
    margin-bottom: 40px;
  }

  p {
    margin: 0;
    font-size: 36px;
    color: #a3a4ad;
  }
}

// tag
.category-tag {
  width: fit-content;
  border-radius: 16px;
  font-size: 14px;
  margin-bottom: var(--layout-05);

  .category-text {
    padding: 7px 29px;
  }
}

.lost-tag {
  color: #3d2ab2;
  background-color: #d8dcff;
}

.found-tag {
  color: #c86111;
  background-color: var(--color-primary-200);
}

.status-tag {
  align-items: center;
  border-radius: 16px;
  color: white;
  display: flex;
  font-size: 14px;
  height: 37px;
  justify-content: center;
  margin-right: 0;
  width: 128px;
  user-select: none;

  @media screen and (min-width: 768px){
    margin-left: auto;
  }
}

.active-status {
  background-color: #8bb72fff;
}

.inactive-status {
  background-color: #f03d3d;
}

// dot white
.dot-white {
  height: 10px;
  width: 10px;
  background-color: var(--color-white);
  border-radius: 100%;
  box-shadow: 0 0 10px white;
  margin: 5px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

// menu card
.card-menu {
  align-items: center;
  justify-content: center;
}

// post detail
.card-detail {
  color: #000;

  .underline-detail {
    margin: 0;
  }
}

.detail-text {
  margin-top: 16px;
  margin-bottom: 19px;
  display: flex;

  p {
    width: 120px;
    margin-bottom: 0;
  }
}

.item-unread {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 321px;
  justify-content: center;
  margin: 12px;
  width: 321px;

  i {
    color: var(--color-primary-200);
    font-size: 76px;
  }

  p {
    margin-top: var(--layout-07);
  }
}

.manage-bar {
  margin-bottom: var(--layout-05);
  align-items: center;
}

.manage-button {
  margin-top: -50px;
}

@media (min-width: 768px) {
  .post-image {
    padding-right: 33px;
  }
}

// gallery
.gallery {
  display: flex;
  padding-top: 66.6667%;
  position: relative;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}

.gallery-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.gallery-scroll::-webkit-scrollbar {
  display: none;
}

.gallery-img {
  position: absolute;
  top: 0;
  margin-bottom: 46px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  height: 285px;
  object-fit: cover;
  border-radius: 8px;

  @media screen and (min-width: 768px) {
    height: 484px;
  }
}

.gallery-item .gallery-thumb {
  padding-top: 96px;
  margin: 6px;
  display: block;
}

.gallery-thumb img {
  width: 145px;
  height: 127px;
  object-fit: cover;
  border-radius: 8px;
  background-size: cover;

  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 116px;
  }
}

.gallery-selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.gallery-selector:checked + .gallery-img {
  opacity: 1;
}

.gallery-selector:checked ~ .gallery-thumb > img {
  box-shadow: 0 0 0 3px var(--color-primary);
}

.prev,
.next {
  cursor: pointer;
  justify-content: center;
  position: absolute;
  top: 81.12%;
  height: 128px;
  width: 64px;
  display: flex;
  margin-top: -50px;
  align-items: center;
  color: #ffff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    top: 86.8%;
  }
}

.prev {
  background: linear-gradient(
    89.11deg,
    rgba(217 217 217 / 85%) 0.54%,
    rgba(217 217 217 / 0%) 99.02%
  );
  border-radius: 8px 0 0 8px;
  left: 0;
}

.next {
  background: linear-gradient(
    89.11deg,
    rgba(217 217 217 / 85%) 0.54%,
    rgba(217 217 217 / 0%) 99.02%
  );
  border-radius: 8px 0 0 8px;
  right: 0;
  transform: rotate(-180deg);
}

.next i {
  transform: rotate(180deg);
}

.prev:hover,
.next:hover {
  color: #ffff;
}

.item-menu {
  align-items: center;
  background-color: var(--bg-card);
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 321px;
  justify-content: center;
  width: 100%;

  i {
    color: var(--color-gray);
    font-size: 76px;
  }

  p {
    margin-top: var(--layout-07);
  }

  &:hover {
    background-color: var(--color-white);
    border: 3px solid var(--color-primary);

    i {
      color: var(--color-primary-200);
    }
  }
}

// unread
.card-unread {
  align-items: center;
  display: flex;
  justify-content: center;
}

// dot
.dot-typing {
  animation: dot-typing 1.5s infinite linear;
  background-color: var(--color-black);
  border-radius: 5px;
  box-shadow: 9984px 0 0 0 var(--color-black), 9999px 0 0 0 var(--color-black),
    10014px 0 0 0 var(--color-black);
  color: var(--color-black);
  height: 8px;
  left: -9999px;
  position: relative;
  width: 8px;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 var(--color-black), 9999px 0 0 0 var(--color-black),
      10014px 0 0 0 var(--color-black);
  }

  16.667% {
    box-shadow: 9984px -10px 0 0 var(--color-black),
      9999px 0 0 0 var(--color-black), 10014px 0 0 0 var(--color-black);
  }

  33.333% {
    box-shadow: 9984px 0 0 0 var(--color-black), 9999px 0 0 0 var(--color-black),
      10014px 0 0 0 var(--color-black);
  }

  50% {
    box-shadow: 9984px 0 0 0 var(--color-black),
      9999px -10px 0 0 var(--color-black), 10014px 0 0 0 var(--color-black);
  }

  66.667% {
    box-shadow: 9984px 0 0 0 var(--color-black), 9999px 0 0 0 var(--color-black),
      10014px 0 0 0 var(--color-black);
  }

  83.333% {
    box-shadow: 9984px 0 0 0 var(--color-black), 9999px 0 0 0 var(--color-black),
      10014px -10px 0 0 var(--color-black);
  }

  100% {
    box-shadow: 9984px 0 0 0 var(--color-black), 9999px 0 0 0 var(--color-black),
      10014px 0 0 0 var(--color-black);
  }
}

// navbar link
.nav-link {
  &:hover {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

// navbar-white
.nav-white {
  box-shadow: var(--color-gray) 0.2px 0.2px 5.5px;
}

// footer
.footer {
  margin-top: 100px;

  .nav-link {
    color: var(--color-white);
  }
}

.landing-listposts,
.found-listposts,
.lost-listposts {
  background-color: var(--color-white);
}

.custom-card {
  max-width: 450px;
}

.img-thumnail-1 {
  width: 100px;
}

@media (max-width: 767.98px) {
  .found-lists {
    display: flex;
    flex-direction: column;

    .card {
      background-color: var(--bg-card);
      border: 0;
      border-radius: 8px;
      width: 100%;
    }
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .found-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .found-item {
    width: 48%;
  }
}

@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}

.forgot-password-field {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 488px;
  padding: var(--spacing-02) var(--spacing-05);
  background-color: white;
  border-radius: 15px;
  margin: auto;
}

.forgot-password-modal {
  width: 698px;
  height: 436px;
  padding: var(--spacing-02) var(--spacing-05);
  background-color: var(--color-white);
  border-radius: 15px;
  border: 2px solid var(--color-secondary);
  margin: auto;
}

.modal-dialog.modal-dialog-centered {
  max-width: 698px;
}

.btn--send-again {
  background-color: inherit;
  color: var(--color-secondary);
  text-decoration: underline;
}

.login-form {
  background-color: var(--color-white);
  border-radius: 15px;
  height: 670px;
  margin: auto;
  margin-bottom: 50px;
  width: 580px;
}

.create-account {
  background-color: var(--color-white);
  border-radius: 15px;
  height: 700px;
  margin: auto;
  margin-bottom: 50px;
  width: 580px;
}

@media (max-width: 767.98px) {
  .forgot-password-field {
    width: 100%;
    height: 500px;
  }

  .login-form {
    height: 670px;
    width: 100%;
  }

  .create-account {
    height: 700px;
    width: 100%;
  }
}

.none-underline {
  text-decoration: none;
}

// pagination
.page-number {
  width: 24px;
  border-radius: 50%;
  line-height: 0;
  position: relative;
  color: var(--color-black);

  &:hover {
    background-color: var(--color-gray);
  }
}

.pagination {
  .page-item,
  .page-number {
    margin: 0 5px;
  }

  .link-page {
    position: absolute;
    bottom: 50%;
    font-size: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }

  .page-icon {
    padding : 0;
    float: none;
    border: none;

    i {
      color: var(--color-gray1);
    }
  }

  .page-icon.true i {
    color: var(--color-black);
  }
}

.page-number.active {
  width: 24px;
  border-radius: 50%;
  background-color: var(--color-primary-400);
  line-height: 0;
  position: relative;

  a {
    color: var(--color-white);
  }
}

.page-number::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

.field_with_errors {
  input,
  input:focus {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
  }

  & + .invalid-feedback {
    display: block;
  }
}

.poster-container {
  border: 1px solid;
  margin: 80px;
}

.cursor-pointer {
  cursor: pointer;
}

.inother {
  margin-left: 12rem;
}

.btn-right {
  margin-top: 25px;

  .btn {
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}

.modal-pre {
  position: fixed;
  top: 0;
  left: 1px;
  z-index: 1055;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.preview {
  font-size: 20px;

  p {
    font-size: 16px;
    border-bottom: 0;
  }
}

.comment-modal-content {
  font-size: 16px;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.preview-modal {
  .modal-content {
    border-radius: 2rem;
    outline: 0;
    border-color: black;
    width: auto;
    height: auto;

    .header {
      background-color: var(--color-secondary-600);
      border-bottom: none;
      color: var(--color-white);
      padding: 34px;
      border-radius: 2rem 2rem 0.1rem 0.1rem;
      font-size: 30px;

      .title {
        color: var(--color-white);
        font-size: 30px;
      }
    }

    .modal-body {
      padding: var(--spacing-02);

      .detail-text-pre {
        margin-top: 16px;
        margin-bottom: 19px;
        display: flex;

        p {
          width: 100%;
          margin-bottom: 0;
        }
      }

      @media (min-width: 768px) {
        padding: var(--spacing-05);
      }
    }
  }
}

// change-password
.change-password,
.change-password-confirmation {
  float: right;
  margin-left: -25px;
  margin-right: 10px;
  margin-top: -30px;
  position: relative;
  z-index: 2 !important;
}

.change-password-confirmation {
  margin-top: -55px;
}

// card-image
.card-img-top {
  border-radius: 16px;
  width: 310px;
  height: 310px;
  object-fit: cover;
}

// checkbox-address
.form-check-address {
  display: block;
  margin-bottom: 4.125rem;

  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.user-profile {
  padding: var(--layout-03);

  .field {
    margin-bottom: 24px;
  }

  @media (min-width: 1400px) {
    padding: var(--layout-07);
  }
}

.modal--close-post {
  .modal-content {
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 18px;

    @media (min-width: 1400px) {
      padding: 38px;
    }
  }

  input[type=radio] {
    display: inline;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }

}

@media (min-width: 1400px) {
  .m-body {
    padding: 44px 50px;
  }
}

.card-comment {
  border: 1px solid var(--color-black);
  border-radius: 15px;

  .comment-content {
    display: flex;
    align-items: flex-start;
    margin: var(--layout-05) var(--layout-07);

    @media (max-width: 767.98px) {
      margin: var(--layout-05);
    }
  }

  .comment-detail {
    display: inline;
    word-break: break-all;
  }

  .text-small {
    margin: 0;
  }
}

.edit-profile-title {
  margin-bottom: 36px !important;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  margin-left: -25px;
}

.password-field {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  height: 488px;
  padding: var(--spacing-02) var(--spacing-05);
  background-color: white;
  border-radius: 16px;
  margin: auto;
}

.password-modal {
  height: 436px;
  padding: var(--spacing-02) var(--spacing-05);
  background-color: var(--color-white);
  border-radius: 15px;
  border: 1px solid var(--color-secondary);
  margin: auto;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 348px;
}

.modal.show {
  z-index: 20000;
}

// modal-reset-password
.modal-content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-post {
  font-size: 20px;
  font-weight: 600;
}
