@import 'breakpoints';
@import 'color';
@import 'typography';
@import 'spacing';
@import 'button';
@import 'components';
@import 'forms';
@import 'homepage';
@import 'notifications';
@import 'checkbox';
@import 'tabs';
@import 'dropzone';
@import 'devise';
@import "layout/profile";

.background {
  background-image: url('bg.jpg');
  height: 100%;
  width: 100%;
}

main {
  padding-top: 80px;
}

.map {
  height: 333px;
  width: 100%;
}

hr {
  background-color: #000;
}

.nav-link-padding {
  display: block;
  padding: zero;
  text-decoration: none;
}

.fa-xmark {
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .modal-dialog {
    max-width: 680px;
    margin: 1.75rem auto;
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1180px)
  and (orientation: landscape)
  and (min-resolution: 96dpi) {
    .modal-dialog {
      max-width: 970px;
      margin: 1.75rem auto;
    }
}

.modal--close-post {
  .modal-content {
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 18px;

    @media (min-width: 1400px) {
      padding: 38px;
    }
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }
}

@media (min-width: 1400px) {
  .m-body {
    padding: 44px 50px;
  }
}
