@import 'breakpoints';
@import 'color';
@import 'typography';
@import 'spacing';
@import 'button';
@import 'components';
@import 'forms';
@import 'homepage';
@import 'modal_noti';
@import 'checkbox';



.background {
  background-image: url('bg.jpg');
  height: 100%;
  width: 100%;
}

main {
  padding-top: 80px;
}


.map {
  height: 333px;
  width: 100%;
}

hr {
  background-color: #000;
}

.nav-link-padding {
  display: block;
  padding: zero;
  text-decoration: none;
}


