// home page navbar
.rounded-5 {
  border-radius: 1.25rem;
}

.dropdown-min-width-1 {
  font-size: 14px;
  min-inline-size: 100%;
  padding: 15px;
}

.profile-navbar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.padding-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.mr-30 {
  margin-right: 30px;
}

// home page landing
hr.style {
  border: black;
  border-width: unset;
  border-color: #000000;
  color: #000000;
  background-color: black;
}

.grid {
  article {
    background-color: #f8f8f8;
    border: #fff;
    border-radius: 1.25rem;

    img {
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      height: 200px;
      object-fit: cover;
      width: 100%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    height: 315px;
    padding: 20px;
  }

  b {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.mt-14 {
  margin-top: 14rem;
}

@media screen and (min-width: 768px) {
  .col-md-7 {
    flex: 0 0 auto;
    width: 58%;
  }
}

.landing-listposts {
  margin-bottom: -18rem !important;
  padding-bottom: 8rem;
}

.found-listposts,
.lost-listposts {
  margin-bottom: -10rem !important;
}

.ps-md-5 {
  padding-left: 5rem !important;
}

.result-search {
  padding-top: 4px;
  position: relative;
  z-index: 200;

  ul {
    background-color: var(--color-white);
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    list-style-type: none;
    padding: 10px 16px;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    width: 100%;
  }

  ul::-webkit-scrollbar {
    width: 5px;
  }

  ul::-webkit-scrollbar-thumb {
    background: #919191FF;
    border-radius: 10px;
  }

  .list-group:empty {
    display: none;
  }

  li {
    cursor: pointer;
    margin-top: 6px;
    display: flex;
    align-items: center;

    .fa-search {
      color: #ADADADFF;
      margin-right: 12px;
    }
  }

  .result-autocomplete {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.see-other-btn {
  margin-top: var(--layout-04);
  font-weight: 700;
}

// card-post
.post-name {
  font-size: 20px;
  margin-bottom: var(--layout-04);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .text {
    padding: 20px;
  }
}

.post-date {
  margin-bottom: var(--layout-02);
}

.post-location {
  margin-bottom: var(--layout-02);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post-status-active {
  display: flex;
  align-items: center;
  margin-bottom: var(--layout-07);

  p {
    color: var(--color-green);
  }
}

.post-status-inactive {
  align-items: center;
  margin-bottom: var(--layout-07);

  p {
    color: var(--color-red);
  }
}
