div.target>hr:first-child {
  display: none;
}

div.comment-body-modal-noti {
  width: 300px;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p.margin-zero {
    margin-bottom: 0;
  }
}

.dropdown-menu.dropdown-menu-end::after {
  right: 0.95rem;
  left: auto;
}

.dropdown-menu.dropdown-caret::after {
  content: "";
  position: inherit;
  z-index: -1;
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  background: inherit;
  top: -8px;
  left: 371px;
  transform: rotate(45deg);
  border-radius: 0.125rem;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: var(--falcon-border-color);
  box-shadow: var(--falcon-box-shadow-sm);
}

.dropdown-caret-bg::after {
  background: var(--falcon-dropdown-caret-bg) !important;
}

.dropdown-size {
  right: -3.9rem;
  margin-left: auto;
  border-radius: 2rem;
  border-color: black;
  margin-top: 8px !important;
  width: max-content;
}

hr.margin {
  margin-top: 16px;
  margin-bottom: 16px;

}

.tab-noti {
  display: flex;
  position: relative;
  background-color: inherit;
  border: 1px solid;
  width: fit-content;
  border-radius: 18px;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px;

  * {
    z-index: 2;
  }
}

input[type="radio"] {
  display: none;

}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 12px 38px;
  font-size: var(--text-body);
  color: var(--color-black);
  font-weight: 400;
  border-radius: 16px;
  cursor: pointer;

  &.active {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-color: black;

  }
}

.glider {
  position: absolute;
  display: flex;
  height: 48px;
  width: 200px;
  background-color: var(--color-primary);
  border-radius: 16px;
  transition: 0.5s ease-out;
}

.btn:focus {
  border: 0;
}

.count--badge {
  position: absolute;
  top: -5px;
  right: -8px;
  border-radius: 50%;
  background-color: #D10026;
  color: white;
  width: 16px;
  height: 16px;
}

.user--avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.badge-dot {
  margin-left: -20px;
  margin-top: 6px;
}

div.comment-body-noti {
  p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p.margin-zero {
    margin-bottom: 0;
  }
}

.gutter-x {
  --bs-gutter-x: -2.5rem;
}

.padding-15 {
  padding: 15px;
}

.notification-box {
  margin: 30px;
  padding: 20px;
  border: 20px;
}

.noti-border {
  border: 1px solid;
}
