.tabs {
  list-style-type: none;
  background-color: var(--color-white);
  display: inline-flex;
  border-radius: 1.5rem;
  position: relative;
  overflow: hidden;
  width: 330px;
  border: 1px solid;
  padding: 0;

  .tab-item {
    display: inline-flex;
    height: 47px;
    width: 153px;
    position: relative;
    z-index: 2;

    .tab-link {
      border: none;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      flex-grow: 1;
      flex-shrink: 0;
      border-radius: 1.5rem;
    }

    &.active {
      .tab-link {
        color: var( --color-primary);
        transition: all ease-in-out 0.35s;
      }
    }
  }

  .btn:focus {
    border-color: var(--color-secondary);
  }
}
