@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@import 'bootstrap/scss/bootstrap';

@import 'layouts/banner';
@import 'layouts/footer';
@import 'layouts/navbar';
@import 'layouts/modal';
@import 'layouts/index';

.map {
  width: 100%;
  min-height: 400px;
}

.searchfilter{
  display: flex;
}

.searchfilter p{
  padding-right: 20px;
}

