@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800&display=swap');

@import 'bootstrap/scss/bootstrap';
@import 'dropzone/src/dropzone';

@import 'custom';

.dz-image img {
  width: 100%;
  height: 100%;
}

.pagesize {
  background: white;
  width: 210mm;
  height: 297mm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

@media print {
  .pagesize {
    -webkit-print-color-adjust: exact !important;
    background-color: red ;
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
  }

  .pagesize * {
      visibility: visible;
  }

  .no-print {
    visibility: hidden;
  }

}

.qr-code {
  img {
    width: 90px;
    height: 90px;
  }
}
