<div class="comment-<% comment.id %> mt-4">
  <div class="card p-5 border-dark" style="border-radius: 15px;">
    <div class="card-body">
        <div class="d-flex flex-start align-items-start">
          <div class="user-avatar">
            <% if comment.user.avatar.present? %>
              <%= image_tag(comment.user.avatar, style:"width: 50px; height: 50px; object-fit: cover;", class: "rounded-circle shadow-1-strong me-4") %>
            <% else %>
              <img alt="image" class="rounded-circle shadow-1-strong me-3" src="https://media.istockphoto.com/vectors/default-profile-picture-avatar-photo-placeholder-vector-illustration-vector-id1223671392?k=20&m=1223671392&s=612x612&w=0&h=lGpj2vWAI3WUT1JeJWm1PRoHT3V15_1pdcTn2szdwQ0=" style = "width: 50px; height: 50px; object-fit: cover;">
            <% end %>
          </div>
          <div class="comment-body">
            <p>
              <span class="user-comment fw-bold">
                <%= comment.user.username %> :
              </span>
              <%= comment.content %>
            </p>
            <p class="text-small" data-controller="datetime" data-datetime-date-value="<%= comment.created_at %>" data-datetime-target="datetimeConvert"></p>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
