<div class="card-comment mt-4">
  <%= simple_form_for [@post, @post.comments.build] do |f| %>
    <div class="form-comment-body">
      <%= f.text_field :content, placeholder: 'แสดงความคิดเห็น', class: 'form-control form-comment' %>
      <%= button_tag class: 'btn btn--comment' do %>
        <i class="fa fa-paper-plane" aria-hidden="true" id="button-comment"></i>
      <% end %>
    </div>
  <% end %>
</div>
