<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New comment</h1>

    <p><%= @comment.user.email %> ได้แสดงความคิดเห็นต่อโพสต์ของคุณ</p>
    <p>
      <%= @comment.content %>
    </p>
    <p>เวลา <%= @comment.created_at.strftime('%d/%m/%Y %H.%M') %></p>

    <%= link_to 'ไปยังโพส', post_url(@comment.post) %>
  </body>
</html>
