<p style="color: green"><%= notice %></p>

<h1>Founds</h1>

<div id="founds">
  <% @founds.each do |found| %>
    <%= render found %>
    <p>
      <%= link_to "Show this found", found %>
    </p>
  <% end %>
</div>

<%= link_to "New found", new_found_path %>
