<div class="card-unread" id="card-notification-content-zero">
  <div class="item-unread">
    <i class="fa-regular fa-bells"></i>
    <p class="text-subtitle font-weight600">คุณไม่มีการแจ้งเตือน</p>
  </div>
</div>
