<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-header2">Changelog</p>
    </div>
  </div>

  <div class="row layout-03">
    <div class="col-md-12">
      <p class="text-subtitle">Version 0.1.0 - 25 July 2022</p>
      <ul>
        <li>New: Setup project</li>
        <li>New: Authentication system (Login, Register, Forgot password, Change password)</li>
        <li>New: CRUD post</li>
        <li>New: Uploading photo when CRUD post</li>
        <li>New: Google Map API when CRUD post</li>
        <li>New: Seed file of post / user info</li>
        <li>New: Page - Landing page</li>
        <li>New: Page - list of finding lost item</li>
        <li>New: Page - list of finding item owner</li>
        <li>New: Page - edit profile</li>
      </ul>
    </div>
  </div>
</div>

