<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-header2">Changelog</p>
    </div>
  </div>

  <div class="row layout-03">
    <div class="col-md-12">
      <p class="text-subtitle">Version 1.0.1 - 5 September 2022</p>
      <ul>
        <li>Update: User cannot use Thai character to setup password.</li>
        <li>Fixed: Add warning message when username duplicate with another user.</li>
        <li>Fixed: Responsive UI of Notification menu.</li>
      </ul>
    </div>
  </div>

  <div class="row layout-03">
    <div class="col-md-12">
      <p class="text-subtitle">Version 1.0.0 - 1 September 2022</p>
      <ul>
        <li>New: Landing page and Posts list menu.</li>
        <li>New: Feature Post management - Create, Update, Delete post.</li>
        <li>New: Feature Share post to facebook.</li>
        <li>New: Feature Create poster of post.</li>
        <li>New: Feature Comment & Reply in post detail page.</li>
        <li>New: Feature Notification when users comment on your post.</li>
        <li>New: Feature Search Post by post name, post detail.</li>
        <li>New: Feature User profile management.</li>
        <li>New: Feature Authentication - Login, Register, Forgot password, Change password.</li>
      </ul>
    </div>
  </div>
</div>

