<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-header2">Changelog</p>
    </div>
  </div>

  <div class="row layout-03">
    <div class="col-md-12">
      <p class="text-subtitle">Version 1.0.0 - 1 September 2022</p>
      <ul>
        <li>New: Homepage and Posts list menu.</li>
        <li>New: Post management page - Create, Update, Delete post.</li>
        <li>New: Comment & Reply system in post detail page.</li>
        <li>New: Notification system when users comment on your post.</li>
        <li>New: Search engine for find a Post.</li>
        <li>New: User profile page.</li>
        <li>New: Authentication system - Login, Register, Forgot password, Change password.</li>
      </ul>
    </div>
  </div>
</div>

