<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="text-header2">Changelog</p>
    </div>
  </div>

  <div class="row layout-03">
    <div class="col-md-12">
      <p class="text-subtitle">Version 0.2.0 - 8 August 2022</p>
      <ul>
        <li>New: Preview post before save</li>
        <li>Update: Post detail value to limit 500 character</li>
        <li>Update: Design in post details page</li>
        <li>Fixed: Post list page will display 12 post per page</li>
        <li>Fixed: Design upload zone broken</li>
        <li>Fixed: Post should always display first image.</li>
        <li>Fixed: Bugs in create post menu</li>
      </ul>
    </div>
  </div>

  <div class="row layout-03">
    <div class="col-md-12">
      <p class="text-subtitle">Version 0.1.2 - 2 August 2022</p>
      <ul>
        <li>Update: Make the user are not able to pick future date in create post process</li>
        <li>Update: Hide advance search menu (waiting for update)</li>
        <li>Update: Design for modal delete post</li>
        <li>Fixed: Bugs in Post's menu</li>
      </ul>
    </div>
  </div>

  <div class="row layout-03">
    <div class="col-md-12">
      <p class="text-subtitle">Version 0.1.1 - 1 August 2022</p>
      <ul>
        <li>Update: Display warning when the mandatory field is empty in Create/Edit post page</li>
        <li>Fixed: Styling of image in post details page</li>
        <li>Fixed: Add condition to Show/Hide contact of post owner in post details page</li>
        <li>Fixed: Create/Update post bugs</li>
        <li>Fixed: Design and text in Create/Edit post page</li>
      </ul>
    </div>
  </div>

  <div class="row layout-03">
    <div class="col-md-12">
      <p class="text-subtitle">Version 0.1.0 - 25 July 2022</p>
      <ul>
        <li>New: Setup project</li>
        <li>New: Authentication system (Login, Register, Forgot password, Change password)</li>
        <li>New: CRUD post</li>
        <li>New: Uploading photo when CRUD post</li>
        <li>New: Google Map API when CRUD post</li>
        <li>New: Seed file of post / user info</li>
        <li>New: Page - Landing page</li>
        <li>New: Page - list of finding lost item</li>
        <li>New: Page - list of finding item owner</li>
        <li>New: Page - edit profile</li>
      </ul>
    </div>
  </div>
</div>

