<div class="">
  <%= render 'posts/search_form' %>
</div>

<div class="listposts mt-5">
  <%= render 'post_content', posts: @losts, post_type: 'lost' %>

  <br><br>

  <%= render 'post_content', posts: @founds, post_type: 'found' %>
</div>
