<li class="page-item">
  <%= link_to_unless current_page.first?, raw('<i class="fa-regular fa-angles-left disabled"></i>'), url, remote: remote, class: 'page-link', style: 'font-size: 18px;' %>
</li>
