<% if page.current? %>
  <li class="page-number active">
    <%= content_tag :a, page, data: { remote: remote }, rel: page.rel, class: 'link-page' %>
  </li>
<% else %>
  <li class="page-number">
    <%= link_to page, url, remote: remote, rel: page.rel, class: 'link-page' %>
  </li>
<% end %>
