<div class="container mt-5 ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
     <h1 class="text-center">What are you looking for...</h1>
        <div class="row g-3 mt-2 ">
          <div class="col-md-1">
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" >
          </div>
          <div class="col-md-3">
            <button class="btn btn-secondary btn-block">Advance Search</button>
          </div>
        </div>
    </div>
  </div>
</div>
