<div>
  <div class="container">
    <div class="row ">
      <div class="row justify-content-md">
        <div class="fs-2 col col-lg-2">
          <%= link_to(post_path(@post), class: 'text-decoration-none', id: 'back-post-detail-link') do %>
            <i class="fa-solid fa-arrow-left"></i> ย้อนกลับ
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="mb-4 bg-body card-form padding-box">
      <h4 class="mb-0" id="form-edit-title">แก้ไขโพสต์<%= @post.lost_item? ? 'ตามหาของ' : 'ตามหาเจ้าของ' %></h4>
      <hr class="underline-title">
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
