<header class="nav-white">
  <%= render 'layouts/navbar' %>
</header>
<div style="margin:30px; padding:20px; border:50px">
  <div class="container">
    <div class="row ">
      <div class="row justify-content-md">
        <div class="fs-2 col col-lg-2">
          <%= link_to category_selects_posts_path do %>
            <i class="fa-solid fa-arrow-left"></i> ย้อนกลับ
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <div class="p-5 mb-4 bg-body card-form">
      <div class="container-fluid py-5">
        <h4 class="border-bottom pb-4 mb-0">สร้างโพสต์<%= @post.lost_item? ? 'ตามหาของหาย' : 'ตามหาเจ้าของ' %></h4>
        <br>
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>
