<div class="container">
  <%= render 'posts/post', post: @post %>
</div>
<div class="container mt-5 py-2">
  <p style="font-size: 20px;">
    <% if user_signed_in? && @post.active? && @comments.count == 0 %>
      ความคิดเห็น
    <% elsif @comments.count != 0 %>
      ความคิดเห็น(<%= @comments.count %>)
    <% end %>
  </p>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
  <div class="mb-5">
    <% if user_signed_in? && @post.active? %>
      <%= render 'comments/form', post: @post %>
    <% end %>
  </div>
</div>
