<div class="container">
  <%= render 'posts/post', post: @post %>
</div>
<div class="container mt-5">
  <p style="font-size: 20px;">
    <%= @comments.count != 0 ? "ความคิดเห็น(#{@comments.count})" : "ความคิดเห็น" %>
  </p>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
  <%= render 'comments/form', post: @post %>
</div>
