<div class="container">
  <%= render 'posts/post', post: @post %>
</div>
<div class="container">
  <strong>ความคิดเห็น</strong>
  <% if user_signed_in? && @post.active? %>
    <%= render 'comments/form', post: @post %>
  <% end %>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>
