<footer class="container-fluid px-0 py-5">
  <div class="row">
    <div class="col-md-6">
      <div class="logo"></div>
      <p class="mt-4">เว็ปไซต์ที่ทำให้คุณเจอของหาย</p>
      <div class="mt-4"></div>
      <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i>
    </div>
    <div class="col-6 col-md-3 mt-5 mt-md-0">
      <h5 class="text-decoration-underline">Contact Us</h5>
      <ul class="nav flex-column mt-4">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="fas fa-envelope"></i> bananacoding@gmail.com</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="fas fa-phone-alt"></i> 059-784-2221</a></li>
      </ul>
    </div>
  </div>
</footer>
