<%= stylesheet_link_tag "footer" %>
<html>
<head>

</head>
<body>

</body>
 <footer class="footer">
      <div class="footer-container">
        <div class="footer-row">
          <div class="footer-col">
            <h4>Lost n Found</h4>
            <p>
              <%# เว็บไซต์เพื่อตามหาของที่คุณทำหาย %>
            </p>
          </div>

          <div class="footer-col">
            <h4>รายการสิ่งของ</h4>
            <ul>
              <li><a href="#">ตามหาของหาย</a></li>
              <li><a href="#">เจอของหาย</a></li>
            </ul>
          </div>

          <div class="footer-col">
            <h4>Contact Us</h4>
            <ul>
              <li><a href="#">Donate here: </a></li>
              <li><a href="#">Tel: </a></li>
              <li><a href="#">Email: </a></li>
            </ul>
          </div>

          
        </div>
      </div>
    </footer>
</html>