<nav class="navbar navbar-expand-lg">
  <div class="container px-md-0">
    <a class="navbar-brand" href="/" id="home-logo-app">
      <%= image_tag 'logo_nav.png', alt: '' %>
    </a>
    <%= render 'layouts/navbar' %>
  </div>
</nav>
