<%= turbo_stream_from dom_id(current_user,:notification)  %>

<div class="dropdown notification-dropdown">
  <button id="dropdownNotification" type="button" class="btn btn-default px-0 px-lg-auto border-0"
    data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
    <div class="d-inline-flex position-relative light">
      <div class="d-inline-flex position-relative">
          <i class="fas fa-bell" style="font-size: 24px"></i>
          <%= render 'notifications/count', count: current_user.notifications.unread.count %>
      </div>
    </div>
  </button>

  <div id="notifications" class="dropdown-menu dropdown-caret dropdown-size" aria-labelledby="dropdownNotification">
    <%= render 'notifications/notifications',
      notifications: current_user.notifications.latest_with_limit,
      unread_notifications: current_user.notifications.unread_latest_with_limit %>
  </div>
</div>
