<%= turbo_stream_from dom_id(current_user, :notification)  %>

<div class="dropdown">
  <button id="dropdownNotification" type="button" class="btn btn-default"
    data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-bell"></i>
    <div class="d-inline" id="notification_count">
      <%= render 'notifications/count', count: current_user.notifications.unread.count %>
    </div>
  </button>

  <ul id="notifications" class="dropdown-menu" aria-labelledby="dropdownNotification">
    <% current_user.notifications.unread.each do |noti| %>
      <%= render noti %>
    <% end %>
  </ul>
</div>
