<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <link href='https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800&display=swap' rel="stylesheet">
    <style>
      .printable{
        font-family: 'Prompt';
      }

      .qr-code {
        svg {
          width: 90px;
          height: 90px;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
